---
root: ""
---
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="{{ '/css/materialize.css' | prepend: root | url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ '/css/style.css' | prepend: root | url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <header class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">[Fairtronics]</a>
      <ul class="right">
        <li><a href="{{ '/news' | url }}">News</a></li>
        <li><a href="https://gitlab.com/fairloetet/">Gitlab</a></li>
      </ul>

    </div>
  </nav>
  </header>
  <main class="page-content teal lighten-2" aria-label="Content">
    <div class="wrapper">
    {{ content }}
    </div>
  </main>
  <footer class="page-footer blue-grey lighten-5">
        <div class="container center">
            <p class="blue-grey-text text-lighten-3"><a href="{{ '/imprint' | url }}">Imprint</a> - <a href="{{ '/privacy' | url }}">Privacy</a></p>
        </div>
    </footer>
  </body>
</html>
