---
layout: layout.liquid
---
<div class="section">
<div class="container">
  <div class="section">
		<h1 class="page-title">{{ pageTitle }}</h2>
		<p class="big-source">{{ pageSubtext }}</p>
  </div>
  <div class="section">
	  <div class="columns">
	  	<div class="column is-one-quarter">
	  	<aside class="menu sticky">
  	     <p class="menu-label">Outline</p>
  	     <ul class="menu-list">
         {% for entry in outline%}
         <li><a href="{{entry.url}}">{{entry.title}}</a></li>
         {% endfor  %}
	  	  </ul>
	  	</aside>
	  	</div>

	    <div class="column">
	      <div class="content">
	      {{ content | safe }}
	      </div>
	    </div>

    </div>
  </div>
</div>
</div>